.sidebar {
  height: 100vh;
  min-width: 20vw;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .info {
  background: rgb(172, 172, 172);
  padding: 10px ;
  border-radius: 5px;

}

.info .avatar{


  width: fit-content;
  height: inherit;
  margin-right: 12px;
}

.info .avatar img {
  max-height:48px;
  max-width : 48px;
  border-radius: 50%;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:visited {
color: pink;
}

a:hover {
color:rgb(234, 0, 255);

}

a:active {
color:aqua;
}