.profil{
    background-color: navy;
    min-height: 100vh;
    max-width: 900px;
    width: 100vw;
    padding-left: 1px;

}

.profil .banniere{
    height: 100%;
    width: 100%;
}

.profil .banniere img{
    
    height: 30vh;
    width: 100%;
    position: absolute;
    clip:rect();
    z-index: 1;

    overflow:hidden
}
