.profil{
    
    background-color: grey;
    
    max-width:600px ;
    width: 100vw;
    padding-left: 1px;
    
    
}

.profil .banniere{
    background-color: blue;
    height: 200px;
    display: flex;
    flex-direction: column;

}

.profil .banniere img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.profil .avatar{
    background-color: black;
    width:fit-content;
    margin:10px; 
    margin-top: -7.5%;


}

.profil .avatar img{
    max-height:125px;
    max-width : 125px;
    border-radius: 50%;
    border:solid 5px white;
    
}

.profil .text{
    background-color:palegoldenrod;
}

.profil .username{
    font-weight: 800;
    font-size: x-large;
}

.profil .id {
    font-size: small;
    color: rgb(83, 100, 113);
}

.description {
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.info {
    
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: solid black;
}

.lieu {
    background-color: brown;
}

.date{
    margin-left: 10px;
    background-color: red;
}

.post {
    display: flex;
    flex-direction: row
}


.post .avatar{

    background-color: blueviolet;
    width: fit-content;
    height: inherit;
}

.post .avatar img {
    max-height:48px;
    max-width : 48px;
    border-radius: 50%;
}

.post_main .header{
    display:flex;
    flex-direction: row;
    margin-left: 10px
}

.post_main .header .username {
    font-weight: 700;

}

.post_main .header .id {
    margin: 0 3px 0 5px;
    font-size: small;
    color: rgb(83, 100, 113);
}

.post .tweet {
    background:gold;
    width: 400px;
    height: 400px;
}

