*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html,body{
    display: grid;
    height: 100%;
    place-items: center;
    
}


.wrapper {
    background: whitesmoke;
    padding: 30px

}

.wrapper .control{
    display: flex;
    justify-content: space-between;
    

}

.wrapper .control button{
    height: 50px;
    width: 100%;
    outline-color:none;

    font-size: 17px;
    border-radius: 5px;
    margin: 1px;
    border: none;
    border: 1px solid lightgrey;

    
}

form{
    display: flex;
    flex-direction: column;
    
}

form .field {
    height: 50px;
    margin-top: 20px;
    color: aqua;
    
}



.login input{
    
    height: 100%;
    width: 100%;
    outline-color: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;

}

.login input[type="submit"]{
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

